%h1.mt-2 自己紹介

.card.mb-2
  %h5.card-header 出身地
  .card-body
    %p.card-text= @user_self_introduction.birth_place
.card.mb-2
  %h5.card-header 趣味
  .card-body
    %p.card-text= @user_self_introduction.hobby
.card.mb-2
  %h5.card-header 自己紹介
  .card-body
    %p.card-text= @user_self_introduction.introduction
