// Place all the styles related to the user_self_introductions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card.skill_card_1 {
    background-color: #fef4f4;
}

.card.skill_card_2 {
    background-color: #fdeff2;
}

.card.skill_card_3 {
    background-color: #fff1cf;
}

.card.skill_card_4 {
    background-color: #eaf4fc;
}

.card.skill_card_5 {
    background-color: #a0d8ef;
}

.card.skill_card_6 {
    background-color: #dcd3b2;
}

.card.skill_card_7 {
    background-color: #e0ebaf;
}

.card.skill_card_8 {
    background-color: #f8b862;
}

.card.skill_card_9 {
    background-color: #bbc8e6;
}

.card.skill_card_10 {
    background-color: #68be8d;
}
